{% extends "base.html" %}
{%block start%}         

<h6 class = "p-2 text-white">Signed in as: {{request.user}}</h6>

<div class = "container mt-5">
    <form class = "col-6 mx-auto card p-3 shadow-lg" method = "post" enctype = "multipart/form-data">
        {% csrf_token %}
        <h2>Add Recipe</h2>
        <hr>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Recipe name</label>
            <input name="recipe_name" required type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" required class="form-label">Recipe Description</label>
            <textarea class = "form-control" name = "recipe_description"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
            <input name = "recipe_image" type = "file" class = "form-control">
        </div>
        <button type="submit" class="btn btn-success">Add Recipe</button>
    </form>
    <hr>
    <div class = "mt-5">
      <div class = "mx-auto col-6">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-white bg-dark">Search Food</label>
          <input name="search" type="text" class="form-control">
        </div>
      <button type = "submit" class = "btn btn-secondary">Search</button>          
      </form>
      </div>
    </div>

    
<table class="table table-dark table-striped mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Recipe Name</th>
      <th scope="col">Recipe Description</th>
      <th scope="col">Recipe Image</th>
      <th scope="col">Actions</th>
      <th scope="col">Posted</th>
    </tr>
  </thead>
  <tbody>
    {% for recipe in recipes %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{recipe.recipe_name}}</td>
      <td>{{recipe.recipe_description}}</td>
      <td>
        <img src = "/media/{{recipe.recipe_image}}" style = "height : 100px"></td>
        <td>
            <a href = "/delete-recipe/{{recipe.id}}" class = "btn btn-danger m-2">Delete</button>
            <a href = "/update-recipe/{{recipe.id}}" class = "btn btn-success m-2">Update</button>  
        </td>
        <td>{{recipe.user}} <br>
          {{recipe.date_posted}}
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{%endblock%}