{% extends "base.html" %}
{%block start%}         

<div class = "container mt-5">
    <form class = "col-6 mx-auto card p-3 shadow-lg" method = "post" enctype = "multipart/form-data">
        {% csrf_token %}
        <h2>Update Recipe</h2>
        <hr>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Recipe name</label>
            <input name="recipe_name" value = "{{recipe.recipe_name}}" required type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" required class="form-label">Recipe Description</label>
            <textarea class = "form-control" name = "recipe_description">{{recipe.recipe_description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
            <input name = "recipe_image" type = "file" class = "form-control">
        </div>
        <button type="submit" class="btn btn-success">Update Recipe</button>
    </form>

</div>

{%endblock%}